<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title></title>
    <!--<link href="#" rel="icon" type="image/x-icon">
    <link href="#" rel="shortcut icon" type="image/x-icon"/>
    <link href="#" rel="apple-touch-icon" sizes="120x120"/>
    <link href="#" rel="apple-touch-icon" sizes="152x152"/>
    <meta content="{{ _('This is a website on which you can by online travel insurance for Bulgarian citizens and mandatory medical insurance for foregners staying in Bulgaria.') }}"
          name="description"/>-->
    {% include 'csslinks.html' %}
    {% block links %}
    {% endblock %}
</head>

<body>
<div id="global">
    <div id="main">
      {% include 'navbar.html' %}

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" id="flashmsg" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ message }}</strong>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}

      {% endblock %}
    </div>
</div>
{% include 'scripts.html' %}
{% block scripts %}

{% endblock %}

<script>
      window.setTimeout(function() { $("#flashmsg").fadeTo(500, 0).slideUp(500, function() { $(this).remove(); }); }, 5000);
</script>
<script>
    $(document).ready(function(){
      var date_input=$('.date-picker'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'dd/mm/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #6351ce;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">{{ _('Get connected with us on social networks!') }}</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold"></h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p></p>
          <p></p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold"></h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#"></a>
        </p>
        <p>
          <a href="#"></a>
        </p>
          <p>
          <a href="#"></a>
        </p>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold"></h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        {% if session['locale'] == 'en_US' %}
            {% set lang_abz = 'en_EN' %}
            {% set lang_fsc = 'en' %}
        {% else %}
            {% set lang_abz = session['locale'] %}
            {% set lang_fsc = 'bg' %}
        {% endif %}
        <p>
            <a href="#" target="_blank"></a>
        </p>
        <p>
            <a href="#" target="_blank"></a>
        </p>
        <p>
            <a href="#"></a>
        </p>
        <p>
            <a href="#">{{ _('Help') }}</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">{{ _('Contacts') }}</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><i class="fas fa-home mr-3"></i></p>
        <p><i class="fas fa-envelope mr-3"></i></p>
        <p><i class="fas fa-phone mr-3"></i></p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© {{ now.year }} Copyright:
    <a href="#"></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>

</html>